::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.page-container {
  position: relative;
}

.page-container::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url("/img/bgc-sits-desktop.webp");
  background-size: cover;
  background-position: center;
}

@media (max-width: 900px) {
  .page-container::before {
    background-image: url("/img/bgc-sits-mob.webp");
  }
}
.head-social {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 255px;
  right: 0;
  z-index: 1999;
}
.head-social .tt-link {
  background-color: rgb(0, 0, 0);
  transition: all 0.5s;
  padding: 2px;
  border-top-left-radius: 10px;
}
.head-social .tt-link img {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
}
.head-social .tt-link:hover {
  background: rgb(105, 201, 208);
  background: linear-gradient(90deg, rgb(105, 201, 208) 35%, rgb(0, 0, 0) 48%, rgb(238, 29, 82) 60%);
  transform: scale(1.2);
}
.head-social .ig-link {
  border-top-left-radius: 10px;
  padding: 2px;
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
  transition: all 0.5s;
}
.head-social .ig-link img {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
}
.head-social .ig-link:hover {
  background: rgb(214, 41, 118);
  background: linear-gradient(90deg, rgb(214, 41, 118) 35%, rgb(150, 47, 191) 60%);
  transform: scale(1.2);
}
.head-social .lin-link {
  border-top-left-radius: 10px;
  padding: 2px;
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
  transition: all 0.5s;
}
.head-social .lin-link img {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
}
.head-social .lin-link:hover {
  background: blue;
  transform: scale(1.2);
}

.modal {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000000000000;
  padding-bottom: 20px;
}
.modal img {
  width: 100vw;
}
.modal .close {
  position: absolute;
  top: 150px;
  right: 10px;
  font-size: 44px;
  background: none;
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  cursor: pointer;
}

.modal2 {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000000000000;
  padding-bottom: 20px;
}
.modal2 img {
  width: 97vw;
}
.modal2 .close2 {
  position: absolute;
  top: 5vh;
  right: 5px;
  font-size: 44px;
  background: none;
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  cursor: pointer;
}
.modal2 .prev,
.modal2 .next {
  margin: 2px;
  padding: 12px;
  font-size: 22px;
  cursor: pointer;
}

.modal-new {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000000000000;
  padding-bottom: 20px;
}
.modal-new img {
  width: 75vw;
}
.modal-new .close-new {
  position: absolute;
  top: 5vh;
  right: 5px;
  font-size: 44px;
  background: none;
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  cursor: pointer;
}
.modal-new .prev,
.modal-new .next {
  margin: 2px;
  padding: 12px;
  font-size: 22px;
  cursor: pointer;
}

.modal3 {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000000000000;
  padding-bottom: 20px;
}
.modal3 img {
  width: 80vw;
}
.modal3 .close3 {
  position: absolute;
  top: 5vh;
  right: 5px;
  font-size: 44px;
  background: none;
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  cursor: pointer;
}

.modal4 {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000000000000;
  padding-bottom: 20px;
}
.modal4 img {
  width: 90%;
}
.modal4 .close4 {
  position: absolute;
  top: 5vh;
  right: 5px;
  font-size: 44px;
  background: none;
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  cursor: pointer;
}

.become-instructor .sits-head {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Wix Madefor Display", sans-serif;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.become-instructor .sits-head h3,
.become-instructor .sits-head h2 {
  font-size: 27px;
  font-family: "Kalnia", serif;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  order: 1;
}
.become-instructor .sits-head h1 {
  color: #000000;
  font-family: "Wix Madefor Display", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  font-weight: 400;
  order: 2;
}
.become-instructor .sits-head p {
  font-size: 22px;
  order: 3;
}
.become-instructor .sits-head-one-page {
  padding-top: 60px;
  text-align: center;
}
.become-instructor .sits-head-one-page h1 {
  font-family: "Kalnia", serif;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.become-instructor .sits-head-one-page h2 {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 100;
  text-transform: uppercase;
}
.become-instructor .name-programm-mob {
  position: relative;
  margin-top: 60px;
  font-size: 22px;
  font-family: "Kalnia", serif;
  text-align: center;
  color: #0097d0;
  font-weight: 800;
  text-transform: uppercase;
}
.become-instructor .name-programm-mob span {
  display: block;
}
.become-instructor .show-details-mob {
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.become-instructor .show-details-mob .show-details-btn-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-size: 19px;
  background: rgb(213, 226, 235);
  font-weight: 400;
  font-family: "Wix Madefor Display", sans-serif;
  background: -webkit-gradient(left top, right top, color-stop(0%, rgb(213, 226, 235)), color-stop(0%, rgb(205, 223, 233)), color-stop(100%, rgb(255, 255, 255)));
  background: linear-gradient(to right, rgb(213, 226, 235) 0%, rgb(205, 223, 233) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d5e2eb", endColorstr="#ffffff", GradientType=1 );
  border: none;
  cursor: pointer;
  width: 250px;
  border-top-left-radius: 20px;
  border-right: none;
  transition: all 0.5s;
  height: 60px;
  color: black;
  font-weight: 600;
}
.become-instructor .show-details-btn-mob:hover {
  background: white;
  border: 1px solid black;
  color: black;
  box-shadow: 12px 12px 0px 1px #cddfe9;
}
.become-instructor .buttons-to-open-info {
  display: none;
  justify-content: space-around;
}
.become-instructor .buttons-to-open-info .buttons-box {
  display: flex;
  flex-direction: column;
}
.become-instructor .buttons-to-open-info .buttons-box .name-programm {
  position: relative;
  margin-top: 60px;
  font-size: 22px;
  font-family: "Kalnia", serif;
  text-align: center;
  color: #0097d0;
  font-weight: 800;
  text-transform: uppercase;
}
.become-instructor .buttons-to-open-info .buttons-box .show-details {
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.become-instructor .buttons-to-open-info .buttons-box .show-details .show-details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-size: 19px;
  background: rgb(213, 226, 235);
  font-weight: 400;
  font-family: "Wix Madefor Display", sans-serif;
  background: -webkit-gradient(left top, right top, color-stop(0%, rgb(213, 226, 235)), color-stop(0%, rgb(205, 223, 233)), color-stop(100%, rgb(255, 255, 255)));
  background: linear-gradient(to right, rgb(213, 226, 235) 0%, rgb(205, 223, 233) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d5e2eb", endColorstr="#ffffff", GradientType=1 );
  border: none;
  cursor: pointer;
  width: 250px;
  border-top-left-radius: 20px;
  border-right: none;
  transition: all 0.5s;
  height: 60px;
  color: black;
  font-weight: 600;
}
.become-instructor .buttons-to-open-info .buttons-box .show-details:hover {
  transform: scale(0.9);
}
.become-instructor .buttons-to-open-info .buttons-box .show-details:hover .show-details-btn {
  background: white;
  color: black;
  box-shadow: 12px 12px 0px 1px #cddfe9;
  border: 1px solid black;
}
.become-instructor .programm-block {
  margin: 5px;
  padding-bottom: 55px;
  box-shadow: 0px 0px 15px #cddfe9;
  border-top-left-radius: 20px;
  font-family: "Wix Madefor Display", sans-serif;
  margin-top: 25px;
  background-color: white;
  margin-left: 28px;
  margin-right: 28px;
}
.become-instructor .programm-block .all-blocks .image-block {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.become-instructor .programm-block .all-blocks .image-block-medium {
  display: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.become-instructor .programm-block .all-blocks .image-block-xl {
  display: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.become-instructor .programm-block .all-blocks .img-container {
  border-top-left-radius: 20px;
}
.become-instructor .programm-block .all-blocks .img-container .image-block-xl-two {
  display: none;
  border-top-left-radius: 20px;
}
.become-instructor .programm-block .all-blocks .blocks-content {
  overflow: auto;
  padding: 10px;
  padding-top: 0;
}
.become-instructor .programm-block .all-blocks .blocks-content .top-row {
  display: none;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info {
  padding: 15px;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .title-programm {
  margin-bottom: 10px;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .title-programm p {
  color: #010101;
  font-size: 22px;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .date-where {
  font-size: 22px;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .reservation {
  margin-top: 5px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .reservation .link-to-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(248, 248, 248);
  background-color: #0097d0;
  font-size: 19px;
  text-align: center;
  border-top-left-radius: 15px;
  transition: all 0.5s;
  font-weight: 600;
  width: 150px;
  height: 60px;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .reservation .link-to-shop:hover {
  transform: scale(0.9);
  background: none;
  border: 1px solid black;
  color: black;
  box-shadow: 12px 12px 0px 1px #0097d0;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .reservation .link-to-shop-other {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(248, 248, 248);
  background-color: #000000;
  font-size: 19px;
  text-align: center;
  border-top-left-radius: 15px;
  transition: all 0.5s;
  font-weight: 600;
  width: 150px;
  height: 60px;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .reservation .link-to-shop-other:hover {
  transform: scale(0.9);
  background: none;
  border: 1px solid black;
  color: black;
  box-shadow: 12px 12px 0px 1px #010101;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .date-where .place {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .date-where .date {
  margin-bottom: 17px;
  font-size: 22px;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .link-to-shop {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: #0097d0;
  font-size: 19px;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  transition: all 0.5s;
  font-weight: 600;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .link-to-shop:hover {
  transform: scale(0.9);
  background: none;
  border: 1px solid black;
  color: black;
  box-shadow: 12px 12px 0px 1px #cddfe9;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .link-to-shop-other {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #000000;
  font-size: 19px;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  transition: all 0.5s;
  font-weight: 600;
}
.become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .link-to-shop-other:hover {
  transform: scale(0.9);
  background: none;
  border: 1px solid black;
  color: black;
  box-shadow: 12px 12px 0px 1px #000000;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm {
  padding: 15px;
  padding-top: 0;
  font-size: 19px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .images-resort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .images-resort .zoom-map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .images-resort .zoom-map p {
  margin-top: -20px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .images-resort .maps-bsa {
  width: 190px;
  height: 130px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .link-to-resort {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .link-to-resort a {
  margin-left: 5px;
  text-decoration: none;
  font-size: 19px;
  color: black;
  text-align: center;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .link-to-resort:nth-child(2) {
  margin-bottom: 35px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .dscrb-resort {
  margin-top: 18px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programm .dscrb-resort p {
  color: black;
  font-size: 19px;
  margin-bottom: 11px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programms {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 15px;
  padding-top: 0;
  font-size: 19px;
  height: 100%;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programms .plan-course p {
  font-weight: 600;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programms .plan-course p:nth-child(2) {
  font-weight: 100;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programms .plan-course .img-plan-course {
  margin-top: 10px;
  width: 320px;
}
.become-instructor .programm-block .all-blocks .blocks-content .description-programms .description-programms-txt {
  padding-bottom: 20px;
}
.become-instructor .programm-block .all-blocks .buttons-to-slider {
  position: relative;
  top: -70px;
  display: flex;
  justify-content: center;
}
.become-instructor .programm-block .all-blocks .buttons-to-slider .left-btn,
.become-instructor .programm-block .all-blocks .buttons-to-slider .right-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
.become-instructor .programm-block .all-blocks .buttons-to-slider .left-btn button,
.become-instructor .programm-block .all-blocks .buttons-to-slider .right-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 4px;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.become-instructor .programm-block .all-blocks .buttons-to-slider .left-btn .btn-dscrb,
.become-instructor .programm-block .all-blocks .buttons-to-slider .right-btn .btn-dscrb {
  text-align: center;
  margin-top: 3px;
  color: white;
}

@media (max-width: 350px) {
  .become-instructor .sits-head h2 {
    font-size: 22px;
  }
  .become-instructor .sits-head h1 {
    font-size: 19px;
  }
}
.why-powpow {
  font-family: "Wix Madefor Display", sans-serif;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.why-powpow .why-content {
  order: 2;
  margin-top: -70px;
  background-color: white;
  border-top-left-radius: 20px;
  box-shadow: 18px 21px 0px 1px #cddfe9;
}
.why-powpow .why-content .instructor-name {
  color: #0097d0;
}
.why-powpow .why-content .why-head-mob {
  font-size: 22px;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 20px;
  padding: 0 10px;
  color: #0097d0;
  letter-spacing: 1px;
  font-family: "Kalnia", serif;
  font-weight: 400;
  text-transform: uppercase;
}
.why-powpow .why-content .why-head {
  display: block;
  font-size: 22px;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 20px;
  padding: 0 10px;
  color: #0097d0;
  letter-spacing: 1px;
  font-family: "Kalnia", serif;
  font-weight: 400;
  text-transform: uppercase;
}
.why-powpow .why-content .why-head span {
  display: block;
}
.why-powpow .why-content p {
  font-size: 19px;
  padding: 0 7px;
  padding-bottom: 12px;
  background-color: white;
}
.why-powpow .why-content .why-img-content {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.why-powpow .why-content .why-img-content .why-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.why-powpow .why-content .why-img-content .why-img-container img {
  width: 80%;
  padding: 2px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid black;
}
.why-powpow .why-content .why-img-content .why-img-container .mpi-p {
  margin-top: 5px;
  text-align: center;
  font-size: 19px;
  padding: 10px;
}
.why-powpow .why-content .check-our-lessons {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.why-powpow .why-content .check-our-lessons .link-to-sits-shop {
  display: flex;
  align-items: center;
  font-family: "Wix Madefor Display", sans-serif;
  padding: 15px 30px;
  border: 1px solid #cddfe9;
  border-top-left-radius: 20px;
  background-color: #0097d0;
  margin: 5px;
  font-size: 19px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  transition: all 0.5s;
  height: 60px;
  margin-bottom: 25px;
  color: white;
}
.why-powpow .why-content .check-our-lessons .link-to-sits-shop .check {
  margin-right: 3px;
  width: 15px;
}
.why-powpow .why-content .check-our-lessons .link-to-sits-shop:hover {
  transform: scale(0.9);
  background: none;
  border: 1px solid black;
  color: black;
  box-shadow: 12px 12px 0px 1px #0097d0;
}
.why-powpow .why-content .dscrb-ebook-page span {
  background-color: #0097d0;
  color: white;
  padding: 4px;
}
.why-powpow .why-img {
  order: 1;
}
.why-powpow .why-img img {
  width: 100%;
  height: 300px;
}

@media (min-width: 350px) {
  .why-powpow .why-content {
    margin-left: 17px;
    margin-right: 17px;
  }
}
.lessons-road {
  margin-top: 100px;
}
.lessons-road h4,
.lessons-road .head-undpage {
  font-family: "Kalnia", serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  word-spacing: 4px;
  font-size: 22px;
  color: #000000;
  text-transform: uppercase;
}
.lessons-road h4 .desktop-break,
.lessons-road .head-undpage .desktop-break {
  display: none;
}
.lessons-road .road-img {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.lessons-road .road-img img {
  width: 38%;
  padding: 5px;
  box-shadow: 0px 0px 15px #cddfe9;
  overflow: hidden;
  transition: all 0.5s;
  margin: 5px;
}
.lessons-road .road-img img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.lessons-road .road-img .othermaterial {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  height: 60px;
  text-align: center;
  padding: 18px;
  cursor: pointer;
  transition: all 0.5s;
  width: 250px;
  background: -webkit-gradient(left top, right top, color-stop(0%, rgb(213, 226, 235)), color-stop(0%, rgb(205, 223, 233)), color-stop(100%, rgb(255, 255, 255)));
  background: linear-gradient(to right, rgb(213, 226, 235) 0%, rgb(205, 223, 233) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d5e2eb", endColorstr="#ffffff", GradientType=1 );
}
.lessons-road .road-img .othermaterial a {
  text-decoration: none;
  color: black;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 19px;
  margin-bottom: 5px;
  font-weight: 600;
  margin-right: 5px;
}
.lessons-road .road-img .othermaterial:hover {
  transform: scale(0.9);
  background: white;
  border: 1px solid black;
  color: black;
  box-shadow: 12px 12px 0px 1px #cddfe9;
}

.sits-accept {
  padding-top: 100px;
}
.sits-accept h3,
.sits-accept h5 {
  font-size: 22px;
  font-family: "Kalnia", serif;
  text-align: center;
  text-transform: uppercase;
  padding-left: 12px;
  padding-right: 12px;
}
.sits-accept .sits-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.sits-accept .sits-img .patrs {
  display: flex;
  justify-content: space-evenly;
}
.sits-accept .sits-img .patrs .patr-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.sits-accept .sits-img .patrs .patr-box p {
  text-align: center;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 19px;
  margin-bottom: 5px;
}
.sits-accept .sits-img .patrs .patr-box img {
  padding: 10px;
  box-shadow: 0px 0px 15px #cddfe9;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
  height: auto;
}
.sits-accept .sits-img .patrs .patr-box img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sits-accept .sits-img .patr-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.sits-accept .sits-img .patr-box p {
  text-align: center;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 19px;
  margin-bottom: 5px;
}
.sits-accept .sits-img .patr-box img {
  padding: 10px;
  box-shadow: 0px 0px 15px #cddfe9;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
  height: auto;
}
.sits-accept .sits-img .patr-box img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.gallery .container-img-lessons {
  max-width: 85%;
  margin: 20px auto;
}
.gallery .container-img-lessons .image-from-lessons {
  -moz-columns: 4 100px;
       columns: 4 100px;
  gap: 15px;
}
.gallery .container-img-lessons .image-from-lessons img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .become-instructor .sits-head h3,
  .become-instructor .sits-head h2,
  .become-instructor .sits-head h1 span {
    display: block;
  }
  .become-instructor .sits-head h1 {
    font-size: 19px;
  }
}
@media (min-width: 500px) {
  .become-instructor .programm-block {
    margin-left: 72px;
    margin-right: 72px;
  }
  .become-instructor .programm-block .all-blocks .image-block {
    display: none;
  }
  .become-instructor .programm-block .all-blocks .image-block-medium {
    display: block;
  }
}
@media (min-width: 590px) {
  .modal {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000000000000000;
    padding-bottom: 20px;
  }
  .modal img {
    width: 65vw;
  }
  .modal .close {
    top: 60px;
  }
  .modal2 img {
    width: 43%;
  }
  .modal-new img {
    width: 30%;
  }
  .modal3 img {
    width: 65%;
  }
  .lessons-road h2 .mobile-break {
    display: none;
  }
  .lessons-road h2 .desktop-break {
    display: inline;
  }
}
@media (min-width: 620px) {
  .why-powpow .why-img img {
    height: 450px;
  }
}
@media (min-width: 780px) {
  .become-instructor .programm-block .all-blocks .image-block {
    display: none;
  }
  .become-instructor .programm-block .all-blocks .image-block-medium {
    display: none;
  }
  .become-instructor .programm-block .all-blocks .image-block-xl {
    display: block;
  }
}
@media (min-width: 980px) {
  .become-instructor .show-details .show-details-btn {
    padding: 20px;
  }
  .become-instructor .programm-block {
    padding-bottom: 0;
    margin-right: 90px;
    margin-left: 90px;
  }
  .become-instructor .programm-block .all-blocks {
    display: flex;
    width: 100%;
  }
  .become-instructor .programm-block .all-blocks .image-block-xl {
    display: none;
  }
  .become-instructor .programm-block .all-blocks .img-container {
    display: flex;
    overflow: hidden;
  }
  .become-instructor .programm-block .all-blocks .img-container .image-block-xl-two {
    display: block;
    transition: transform 2s;
  }
  .become-instructor .programm-block .all-blocks .blocks-content {
    max-height: 350px;
    width: 75%;
    margin-top: 20px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .top-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid rgb(213, 213, 213);
    font-weight: 800;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .top-row .row-name {
    width: 30%;
    margin-left: 15px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .top-row .row-place-date {
    width: 30%;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .top-row .row-reservation {
    width: 20%;
    text-align: start;
    padding-left: 5px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info {
    display: flex;
    justify-content: space-between;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .title-programm {
    width: 40%;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .title-programm p {
    color: #000000;
    font-weight: 400;
    font-size: 22px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .date-where {
    display: flex;
    flex-direction: column;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .date-where .place {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    font-size: 22px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .date-where .date {
    margin-bottom: 0px;
    font-size: 22px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm a {
    text-decoration: none;
    padding: 8px;
    margin-left: 30px;
    color: black;
    background-color: #cddfe9;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .date-where {
    width: 30%;
    margin-left: 10px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .reservation {
    width: 30%;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .description-programm {
    padding-right: 50px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .description-programm .images-resort .maps-bsa {
    width: 200px;
    height: 150px;
    cursor: pointer;
  }
  .become-instructor .programm-block .all-blocks .buttons-to-slider {
    position: relative;
    left: -170px;
    top: 280px;
    width: 0;
    height: 70px;
  }
  .become-instructor .programm-block .all-blocks .buttons-to-slider .left-btn button,
  .become-instructor .programm-block .all-blocks .buttons-to-slider .right-btn button {
    padding: 5px;
    height: 40px;
    border: 3px solid #ffffff;
    color: #0097d0;
  }
  .become-instructor .programm-block .all-blocks .buttons-to-slider .left-btn .btn-dscrb,
  .become-instructor .programm-block .all-blocks .buttons-to-slider .right-btn .btn-dscrb {
    width: 170px;
  }
  .why-powpow {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .why-powpow .why-content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
    width: 65%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 165px;
  }
  .why-powpow .why-content p {
    text-align: justify;
  }
  .why-powpow .why-content .why-head-mob {
    display: none;
  }
  .why-powpow .why-content .why-head span {
    display: inline;
  }
  .why-powpow .why-content .why-img-content {
    margin-top: 30px;
    overflow: hidden;
    margin: 10px;
  }
  .why-powpow .why-content .why-img-content .why-img-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
  }
  .why-powpow .why-content .why-img-content .why-img-container img {
    width: 40%;
    padding: 3px;
    margin: 0;
  }
  .why-powpow .why-img {
    order: 2;
  }
  .why-powpow .why-img img {
    width: 400px;
    height: 250px;
    margin-left: -160px;
  }
}
@media (min-width: 1325px) {
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .date-where {
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .become-instructor .sits-head h2 {
    font-size: 34px;
  }
  .become-instructor .sits-head-one-page h1 {
    font-size: 34px;
  }
  .become-instructor .name-programm-mob {
    display: none;
  }
  .become-instructor .show-details-mob {
    display: none;
  }
  .become-instructor .buttons-to-open-info {
    display: flex;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .link-to-shop {
    height: 48px;
  }
  .become-instructor .programm-block .all-blocks .blocks-content .details-info .options-programm .link-to-shop-other {
    height: 48px;
  }
  .lessons-road .road-img img {
    width: 25%;
  }
  .sits-accept .sits-img .patrs .patr-box {
    width: 25%;
  }
  .sits-accept .sits-img .patr-box {
    width: 25%;
  }
}
@media (min-width: 1285px) {
  .become-instructor .programm-block {
    margin-right: 215px;
    margin-left: 215px;
  }
}
@media (min-width: 1520px) {
  .become-instructor .programm-block .all-blocks .blocks-content .description-programm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.line-after-white {
  justify-content: space-between;
}

.line-before-white {
  justify-content: flex-start;
}

.line-after-white::after,
.line-before-white::before {
  content: "";
  display: block;
  width: 55px;
  height: 10px;
  background: #ffffff;
  margin-left: 20px;
}

.line-before-white::before {
  margin-right: 20px;
}

.bens {
  flex-direction: row !important;
  justify-content: center;
}

@media (max-width: 980px) {
  .why-powpow .why-content .ben {
    margin-top: 25px;
  }
}/*# sourceMappingURL=Be-instructor-lessons-sits.css.map */

/* .become-instructor .colonie {
  display: flex !important;
  justify-content: center !important;
} */