#butters .name-butters {
  width: 30%;
}

#butters .name-butters p {
  margin-left: 0;
}

@media (max-width: 1023px) {
  .butter-kafel {
    padding-top: 20px;
  }
  .what-on-buttering .write-me-to-butter {
    padding-bottom: 20px;
  }
  .butt-welcome-txt p:nth-child(1) {
    padding-top: 15px;
  }
  .butt-welcome-txt p:nth-child(2) {
    padding-bottom: 15px;
  }
}

#butters {
  padding: 20px;
  padding-top: 0;
}

.butter-kafel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.what-is-it,
.where-is-it,
.write-me-to-butter {
  width: 30%;
}

.write-me-to-butter a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(248, 248, 248);
  background-color: #0097d0;
  font-size: 19px;
  text-align: center;
  border-top-left-radius: 15px;
  transition: all 0.5s;
  font-weight: 600;
  width: 150px;
  height: 60px;
}
.write-me-to-butter a:hover {
  transform: scale(0.9);
  background: none;
  border: 1px solid black;
  color: black;
  -webkit-box-shadow: 12px 12px 0px 1px #0097d0;
  -moz-box-shadow: 12px 12px 0px 1px #0097d0;
  box-shadow: 12px 12px 0px 1px #0097d0;
}

.butt-welcome-txt p {
  font-size: 18px;
  font-family: "Wix Madefor Display", sans-serif;
}

.why-butter {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 900px;
}

.why-butter p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 18px;
  color: black;
  
}

.why-butter h2 {
  font-size: 22px;
  font-family: "Kalnia", serif;
  color: #0097d0;
  text-align: center;
}

.what-on-buttering ul,
.what-on-buttering ul li {
  font-size: 18px;
}

.what-on-buttering ul li {
  margin: 10px 0px;
  padding-right: 35px;
}

@media (min-width: 980px) {
  .what-on-buttering .why-content {
    padding-right: 15px;
  }
}

@media (max-width: 850px) {
  .write-me-to-butter {
    margin-top: 10px !important;
  }
}

@media (max-width: 1024px) {
  .butter-kafel {
    flex-direction: column;
    align-items: start;
  }
  .write-me-to-butter {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    align-items: end;
    margin-top: -20px;
  }
  .write-me-to-butter p {
    margin-bottom: 10px !important;
  }
  .what-is-it,
  .where-is-it {
    width: 100%;
  }
  .what-is-it {
    padding-bottom: 10px;
  }
  .why-butter {
    padding-left: 20px;
    padding-right: 35px;
  }
  .what-on-buttering {
    margin-top: 125px;
  }
}

@media (min-width: 1024px) {
  .but-txt-wel-two {
    padding-bottom: 40px;
  }
  .what-on-buttering {
    margin-top: 0 !important;
  }
  .snow-on-section {
    margin-top: 60px !important;
  }
  .full-width-ul {
    width: 100%;
    margin-left: 60px !important;
  }
}

@media (min-width: 420px) and (max-width: 500px) {
  .become-instructor .programm-block {
    margin-left: 33px;
    margin-right: 33px;
  }
}

.buttering h1, .trick-camp-header {
  padding-bottom: 20px;
}

@media (min-width: 1024px) {
  .buttering h1, .trick-camp-header {
    padding-bottom: 50px;
  }
}

@media (min-width: 980px) {
  .what-on-buttering .why-content {
    padding-top: 20px;
  }
}

.what-on-buttering .write-me-to-butter {
  justify-content: start;
  width: 90%;
}
.what-on-buttering .write-me-to-butter a {
  width: auto;
  padding: 7px;
}

@media (min-width: 1024px) {
    .what-on-buttering .write-me-to-butter {
        width: 65%;
    }
}

.endalign {
  align-items: center !important;
  justify-content: center !important;
}

.snowon-p {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}