*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  position: relative;
  top: -117px;
  .image-container {
    // background-color: white;
    position: relative;
    overflow: hidden;
    top: 0;

    .desktopheadimg {
      display: none;
      margin-top: -117px;
    }

    .mediumheadimg {
      display: none;
    }

    .desktopheadimg {
      padding-top: 150px;
      object-fit: cover;
    }

    .mobileheadimg {
      // top: -140px;
      padding-top: 120px;
      object-fit: cover;
      background: transparent;
      // width: 100%;
      // height: 100dvh;
      // height: 100vh;
      // 	width: 100%;
    }

    .centerhead {
      position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      top: 265px;
      z-index: 1;

      h1 {
        font-size: 1px;
        color: transparent;
      }

      .new {
        text-align: center;
        font-family: "Kalnia", serif;
        font-size: 47px;
        color: #ffffff;
        backdrop-filter: blur(0.5px);
        -webkit-backdrop-filter: blur(0.5px);
        border-radius: 15px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .btns {
        display: flex;
        flex-direction: column;

        .btn-ones,
        .btn-twos,
        .btn-thre,
        .btn-four {
          display: flex;
          align-items: center;
          justify-content: start;
          margin-top: 15px;
          text-decoration: none;
          padding: 10px;
          transition: all 0.3s;
          font-size: 19px;
          height: 60px;
          background-color: #cddfe9;
          color: black;
          border-top-left-radius: 15px;
          font-family: "Wix Madefor Display", sans-serif;
          letter-spacing: 1px;
          font-weight: 600;
          transition: all 0.5s;
          margin-left: 3px;
          margin-right: 3px;
        }

        .btn-ones {
          margin-top: 35px;
        }

        .btn-ones:hover {
          background-color: white;
          transform: scale(0.9);
          -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
          -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
          box-shadow: 12px 12px 0px 1px #cddfe9;
        }
        .btn-twos {
          .neon-yellow-text {
            color: yellow;
            text-shadow: 
              0 0 1px rgba(0, 0, 0, 0.5),
              0 0 3px #ffb300,
              0 0 6px #ffb300,
              0 0 9px #ffb300;
            font-weight: 700;
          }
        }
        .btn-twos:hover {
          background-color: white;
          transform: scale(0.9);
          -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
          -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
          box-shadow: 12px 12px 0px 1px #cddfe9;
          .neon-yellow-text {
            text-shadow: 
              0 0 1px rgba(0, 0, 0, 0.5),
              0 0 3px #ffb300,
              0 0 6px #ffb300,
              0 0 9px #ffb300,
              0 0 12px #ffb300;
          }
        }
        .btn-thre:hover {
          background-color: white;
          transform: scale(0.9);
          -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
          -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
          box-shadow: 12px 12px 0px 1px #cddfe9;
        }
        .btn-four:hover {
          background-color: white;
          transform: scale(0.9);
          -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
          -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
          box-shadow: 12px 12px 0px 1px #cddfe9;
        }

        .checks {
          margin-right: 5px;
        }
      }
    }

    .head-social {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 189px;
      right: 0;
      z-index: 1999;

      .tt-link {
        background-color: rgb(0, 0, 0);
        transition: all 0.2s;
        padding: 2px;
        border-top-left-radius: 10px;
        img {
          display: flex;
          align-items: center;
          width: 28px;
          height: 28px;
        }
      }

      .tt-link:hover {
        background: rgb(105, 201, 208);
        background: linear-gradient(
          90deg,
          rgba(105, 201, 208, 1) 35%,
          rgba(0, 0, 0, 1) 48%,
          rgba(238, 29, 82, 1) 60%
        );
        transform: scale(1.2);
      }

      .ig-link {
        border-top-left-radius: 10px;
        padding: 2px;
        margin-top: 5px;
        background-color: rgb(0, 0, 0);
        transition: all 0.2s;
        img {
          display: flex;
          align-items: center;
          width: 28px;
          height: 28px;
        }
      }

      .ig-link:hover {
        background: rgb(214, 41, 118);
        background: linear-gradient(
          90deg,
          rgba(214, 41, 118, 1) 35%,
          rgba(150, 47, 191, 1) 60%
        );
        transform: scale(1.2);
      }

      .lin-link {
        border-top-left-radius: 10px;
        padding: 2px;
        margin-top: 5px;
        background-color: rgb(0, 0, 0);
        transition: all 0.2s;
        img {
          display: flex;
          align-items: center;
          width: 28px;
          height: 28px;
        }
      }

      .lin-link:hover {
        background: blue;
        transform: scale(1.2);
      }
    }
  }
}

.ebook {
  display: none;
}

.ebookmobile {
  margin-top: -100px;
  .ebook-content-mobile {
    // background-color: #d5e2eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ebooktxtmmobile {
      font-family: "Wix Madefor Display", sans-serif;
      h2 {
        padding-top: 50px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 22px;
        text-align: center;
        color: #0097d0;
        margin-bottom: 15px;
        font-family: "Kalnia", serif;
        font-weight: 400;
        text-transform: uppercase;
      }

      h3 {
        text-align: center;
        padding: 0 30px;
        margin-bottom: 15px;
        font-size: 19px;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Wix Madefor Display", sans-serif;
      margin-top: -100px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      font-size: 19px;
      padding: 10px;
      margin-bottom: 15px;
      color: rgb(248, 248, 248);
      background-color: #0097d0;
      border-top-left-radius: 15px;
      height: 60px;
      transition: all 0.3s;
    }
    a:hover {
      transform: scale(0.9);
      color: #0097d0;
      background: white;
      // border: 1px solid black;
      -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
      -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
      box-shadow: 12px 12px 0px 1px #cddfe9;
      font-weight: 600;
    }
  }
}

.slideInRight {
  animation: slideInRight 0.5s forwards;
}

.slideOutRight {
  animation: slideOutRight 0.5s forwards;
}

.slideInLeft {
  animation: slideInLeft 0.5s forwards;
}

.slideOutLeft {
  animation: slideOutLeft 0.5s forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}


.snowboard-lessons {
  margin-top: 80px;
  margin-bottom: 80px;
  h3 {
    font-size: 22px;
    color: #0097d0;
    text-transform: uppercase;
    font-family: "Kalnia", serif;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
  }

  .boxes-lessons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    .lessons-sits {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .lesson {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 350px;
        p {
          font-size: 22px;
          font-family: "Wix Madefor Display", sans-serif;
          font-weight: 600;
          text-align: center;
        }
        a {
          font-family: "Wix Madefor Display", sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top-left-radius: 20px;
          font-size: 19px;
          text-decoration: none;
          padding: 15px;
          width: 200px;
          text-align: center;
          background: -moz-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: -webkit-gradient(
            left top,
            right top,
            color-stop(0%, rgba(213, 226, 235, 1)),
            color-stop(0%, rgba(205, 223, 233, 1)),
            color-stop(100%, rgba(255, 255, 255, 1))
          );
          background: -webkit-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: -o-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: -ms-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: linear-gradient(
            to right,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e2eb', endColorstr='#ffffff', GradientType=1 );
          box-shadow: 0px 0px 15px #cddfe9;
          color: black;
          transition: all 0.4s;
          height: 60px;
          font-weight: 600;
          margin-top: 12px;
          transition: all 0.5s;
        }
        a:hover {
          transform: scale(0.9);
          background: white;
          // border: 1px solid black;
          -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
          -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
          box-shadow: 12px 12px 0px 1px #cddfe9;
          font-weight: 600;
        }
      }
    }
    .lessons-ppr {
      display: flex;
      gap: 50px;
      flex-direction: column;
      .lesson {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 350px;
        p {
          font-size: 22px;
          font-family: "Wix Madefor Display", sans-serif;
          font-weight: 600;
          text-align: center;
        }
        a {
          margin-top: 12px;
          font-family: "Wix Madefor Display", sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top-left-radius: 20px;
          font-size: 19px;
          text-decoration: none;
          padding: 15px;
          width: 200px;
          text-align: center;
          font-weight: 600;
          background: -moz-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: -webkit-gradient(
            left top,
            right top,
            color-stop(0%, rgba(213, 226, 235, 1)),
            color-stop(0%, rgba(205, 223, 233, 1)),
            color-stop(100%, rgba(255, 255, 255, 1))
          );
          background: -webkit-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: -o-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: -ms-linear-gradient(
            left,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: linear-gradient(
            to right,
            rgba(213, 226, 235, 1) 0%,
            rgba(205, 223, 233, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e2eb', endColorstr='#ffffff', GradientType=1 );
          box-shadow: 0px 0px 15px #cddfe9;
          color: black;
          transition: all 0.4s;
          height: 60px;
          transition: all 0.5s;
        }
        a:hover {
          transform: scale(0.9);
          background: white;
          // border: 1px solid black;
          -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
          -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
          box-shadow: 12px 12px 0px 1px #cddfe9;
          font-weight: 600;
        }
      }
    }
  }
}

.blog {
  h5 {
    margin-top: 70px;
    text-align: center;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #0097d0;
    font-family: "Kalnia", serif;
    font-weight: 400;
    text-transform: uppercase;
  }
  .one-group-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    .box-article {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 40px;
      margin-bottom: 30px;
      padding: 20px;
      border: 1px solid black;
      border-top-left-radius: 15px;
      width: 80%;
      -webkit-box-shadow: 18px 21px 0px 1px #cddfe9;
      -moz-box-shadow: 18px 21px 0px 1px #cddfe9;
      box-shadow: 18px 21px 0px 1px #cddfe9;
      font-family: "Wix Madefor Display", sans-serif;
      background-color: white;

      h6 {
        margin-bottom: 10px;
        font-size: 22px;
      }

      p {
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-size: 19px;
      }

      .link-to-more {
        display: flex;
        justify-content: end;
        a {
          margin-top: 10px;
          font-size: 19px;
          text-decoration: none;
          color: black;
          transition: all 0.2s;
          height: 30px;
        }

        a:hover {
          transform: scale(0.95);
          border-bottom: 2px solid #0097d0;
        }
      }
    }
  }
}

#blog {
  scroll-margin-top: 134px;
}

@media (min-width: 330px) {
  .ebookmobile {
    .ebook-content-mobile {
      a {
        width: 316px;
      }
    }
  }
}

@media (min-width: 900px) {
  .snowboard-lessons {
    .boxes-lessons {
      .lessons-sits {
        flex-direction: row;
      }
      .lessons-ppr {
        flex-direction: row;
      }
    }
  }
  .blog {
    .one-group-art {
      flex-direction: row;
      justify-content: space-around;
      .box-article {
        width: 40%;
      }
      .firsts {
        width: 90% !important;
      }
    }
  }
}

.footer-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 130px;

  .footer-company-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .company-name-cre {
      font-family: "Wix Madefor Display", sans-serif;
      font-weight: 600;
      font-size: 19px;
      text-align: center;
      margin-bottom: -10px;
    }
  }
}

.footer-company {
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 50px;
  background: rgba(213, 226, 235, 1);
  background: -moz-linear-gradient(
    left,
    rgba(213, 226, 235, 1) 0%,
    rgba(205, 223, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(213, 226, 235, 1)),
    color-stop(0%, rgba(205, 223, 233, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(213, 226, 235, 1) 0%,
    rgba(205, 223, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(213, 226, 235, 1) 0%,
    rgba(205, 223, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(213, 226, 235, 1) 0%,
    rgba(205, 223, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(213, 226, 235, 1) 0%,
    rgba(205, 223, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e2eb', endColorstr='#ffffff', GradientType=1 );

  .footer-company-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: -35px;
  }
  .links-under {
    display: flex;
    justify-content: space-between;
    width: 100%;
    a {
      height: 48px;
      color: rgb(0, 0, 0);
      font-size: 12px;
      text-decoration: none;
      opacity: 0;
    }
  }

  p {
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 19px;
  }

  .partners {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 15px;
    gap: 10px;

    .partner-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Wix Madefor Display", sans-serif;
      font-size: 19px;
      gap: 5px;
      img {
        border-top-left-radius: 12px;
        width: 60px;
      }
      a {
        margin-top: 3px;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        color: black;
      }
    }
  }
}

@media (min-width: 880px) {
  .ebook {
    display: block;
    .ebook-content {
      display: flex;
      justify-content: space-between;
      margin: 50px 0;
      background-color: #0097d0;
      height: 535px;
      width: 100%;

      .ebooktxt {
        font-family: "Wix Madefor Display", sans-serif;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-right: 25px;
        width: 50%;

        ul {
          padding: 15px;
          font-size: 19px;
        }

        .company-name {
          color: white;
          font-weight: 800;
        }

        h2 {
          font-size: 22px;
          text-transform: uppercase;
          font-family: "Kalnia", serif;
          font-weight: 400;
          text-transform: uppercase;
        }

        h3 {
          font-weight: 700;
          font-size: 22px;
        }

        p {
          margin-top: 20px;
          font-size: 19px;
        }

        .link-to-ebook-container {
          display: flex;
          align-items: center;
          justify-content: end;
          margin-top: 25px;
          margin-right: 30px;
          transition: all 0.6s;

          .link-to-ebook {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            padding: 10px;
            background-color: #cddfe9;
            width: 190px;
            font-size: 19px;
            text-align: center;
            color: black;
            font-weight: 600;
            border-top-left-radius: 15px;
            transition: all 0.5s;
            height: 60px;
          }
        }
        .link-to-ebook:hover {
          transform: scale(0.9);
          background-color: #fff;
          -webkit-box-shadow: 12px 12px 0px 1px #cddfe9;
          -moz-box-shadow: 12px 12px 0px 1px #cddfe9;
          box-shadow: 12px 12px 0px 1px #cddfe9;
        }
      }

      .mockup-desktop {
        width: 50%;
        height: 535px;
      }
    }
  }

  .ebookmobile {
    display: none;
  }
}

@media (min-width: 700px) {
  .home {
    .image-container {
      .centerhead {
        top: 280px;
        .new {
          font-size: 66px;
          backdrop-filter: blur(0.5px);
          -webkit-backdrop-filter: blur(0.5px);
          background-color: rgba(0, 0, 0, 0);
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 980px) {
  .home {
    .image-container {
      .mobileheadimg {
        display: none;
      }
      .mediumheadimg {
        display: block;
        .parallax-image {
          height: 100vh;
          img {
            height: 100vh;
          }
        }
      }
    }
  }
}

@media (min-width: 980px) {
  .home {
    .image-container {
      .desktopheadimg {
        display: block;

        .parallax-image {
          height: 100vh;
          img {
            height: 100vh;
          }
        }
      }

      .mobileheadimg {
        display: none;
      }

      .mediumheadimg {
        display: none;
      }

      .centerhead {
        .btns {
          flex-direction: row;
          gap: 20px;

          .btn-flex {
            .btn-ones,
            .btn-twos,
            .btn-thre,
            .btn-four {
              margin-top: 15px;
              justify-content: start;
              width: auto;
            }

            // .btn-twos {
            // 	margin-left: 20px;
            // 	margin-right: 20px;
            // }

            .btn-ones {
              margin-top: 15px;
            }
          }
        }
        .new {
          backdrop-filter: blur(0.85px);
          -webkit-backdrop-filter: blur(0.85px);
        }
      }
    }
  }
  .reviews {
    #content {
      .testimonial {
        blockquote {
          .review-txt {
            text-align: justify;
          }
        }
      }
    }
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: white;
  position: relative;
  width: 100%;
  font-family: "Wix Madefor Display", sans-serif;
  // margin-top: -70px;
  z-index: 1998;

  .review-head {
    padding: 15px;

    .feel-head {
      font-size: 22px;
      text-align: center;
      font-weight: 400;

      span {
        display: block;
        text-transform: uppercase;
        color: #0097d0;
        font-family: "Kalnia", serif;
        font-weight: 400;
      }
    }

    .feeling {
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
      color: #0097d0;
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: "Kalnia", serif;
      font-weight: 400;
    }
    .head-with-newline {
      text-align: center;
      text-align: center;
      font-weight: 100;
      font-size: 22px;
      letter-spacing: 1px;
      color: #000000;
    }
    .head-without-line {
      display: none;
    }
    .customers {
      font-size: 19px;
      text-align: center;
    }
  }
  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;

    .box-review-content {
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .testimonial {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      blockquote {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -2px 0px 0;
        background: transparent;
        padding: 12px;
        position: relative;
        border: 1px solid black;
        font-size: 19px;
        border-top-left-radius: 25px;
        font-style: italic;
        margin-right: 40px;
        margin-left: 3px;
        background-color: rgba(255, 255, 255, 0.705);

        .opinion-img {
          width: 200px;
        }

        .review-txt {
          position: relative;
          z-index: 1;
          white-space: pre-wrap;
        }

        .bgc-reviews-words {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          left: -50%;
          font-size: 13.5vw;
          height: 100%;
          width: 10px;
          opacity: 0.7;
          font-family: "Kalnia", serif;
          color: #cddfe9;

          p {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            padding-top: 10px;

            .line-after {
              justify-content: space-between;
            }
            .line-before {
              justify-content: flex-start;
            }
          }

          .line-after::after,
          .line-before::before {
            content: "";
            display: block;
            width: 55px;
            height: 10px;
            background: #cddfe9;
            margin-left: 20px;
          }

          .line-before::before {
            margin-right: 20px;
          }
        }

        .line {
          width: 50px;
          height: 10px;
          background-color: black;
        }
      }
      button {
        position: absolute;
        right: -35px;
        bottom: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: 20px;
        margin: 5px;
        height: 100%;
        border: none;
        padding: 10px;
        cursor: pointer;
        background-color: #cddfe9;
        border: 1px solid #ffffff;
        color: rgb(0, 0, 0);
        align-self: stretch;
        font-weight: 600;
      }
    }

    .head-review {
      width: 98vw;
      text-align: center;
      z-index: -1000;
      h3 {
        position: relative;
        letter-spacing: 3px;
        margin-top: 30px;
        text-align: center;
        font-weight: 800;
        font-size: 10vw;
        color: #cddfe9;
        font-family: "Kalnia", serif;
        width: 98vw;
        z-index: 2000;
      }
    }

    .testimonial blockquote:before,
    .testimonial blockquote:after {
      position: absolute;
      font-size: 80px;
      line-height: 1;
      color: #757f9a;
      font-style: normal;
    }

    .testimonial blockquote:before {
      top: 0;
      left: 10px;
    }

    .testimonial blockquote:after {
      right: 10px;
      bottom: -0.5em;
    }

    .testimonial .who {
      position: relative;
      top: -1.3px;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #000000;
      margin: 0 0 0 60px;
      z-index: 2000;
    }

    .testimonial .author {
      margin: 8px 0 0 20px;
      text-align: left;
      color: #000000;
      font-size: 19px;
      padding: 5px;
    }
  }
}

.insta-feed {
  margin-top: 75px;
  .insta-head {
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    h6 {
      font-family: "Kalnia", serif;
      text-align: center;
      color: #0097d0;
      font-size: 22px;

      span {
        display: block;
      }
    }
  }
  .wrapper-insta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    .insta-line {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cddfe9;
      width: calc(100% - 5px);
      height: 60px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        p {
          font-size: 22px;
          font-family: "Wix Madefor Display", sans-serif;
          color: rgb(0, 0, 0);
          font-weight: 600;
          margin-left: 5px;
        }
      }
    }
    .insta-posts,
    .insta-posts-mob {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 100%;

      .column {
        // margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        width: 100%;

        .img-posts-ig {
          width: calc(33.3% - 5px);
          height: auto;
        }
        // .img-posts-ig:nth-child(2) {
        // 	padding-left: 5px;
        // 	padding-right: 5px;
        // }
      }
    }
  }
}

@media (max-width: 620px) {
  .insta-feed {
    .wrapper-insta {
      .insta-posts {
        display: none;
      }
    }
  }
}
@media (min-width: 620px) {
  .insta-feed {
    .wrapper-insta {
      .insta-posts {
        display: flex;
      }
      .insta-posts-mob {
        display: none;
      }
    }
  }
}

@media (min-width: 345px) {
  .reviews {
    #content {
      .box-review-content {
        .testimonial {
          blockquote {
            .opinion-img {
              width: 250px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 390px) {
  .reviews {
    #content {
      .box-review-content {
        .testimonial {
          blockquote {
            .opinion-img {
              width: 300px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .reviews {
    #content {
      .testimonial {
        blockquote {
          .bgc-reviews-words {
            font-size: 2.9em;

            p:nth-child(1) {
              margin-right: 50px;
            }

            p:nth-child(2) {
              margin-left: 50px;
            }

            p:nth-child(3) {
              margin-right: 50px;
            }
          }
        }
      }
    }
  }
  .insta-feed {
    .insta-head {
      h6 {
        span {
          display: inline;
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .reviews {
    .review-head {
      .head-with-newline {
        display: none;
      }
      .head-without-line {
        display: block;
        text-align: center;
        text-align: center;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: 1px;
        color: #000000;
        margin: 0 20px;

        .feeling-desktop {
          color: #0097d0;
          margin: 6px 0;
          text-transform: uppercase;
          font-family: "Kalnia", serif;
          font-weight: 400;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .reviews {
    #content {
      .box-review-content {
        .testimonial {
          blockquote {
            .opinion-img {
              width: 500px;
            }
          }
        }
      }
    }
  }
  .footer-company {
    .partners {
      .partner-box {
        img {
          width: 90px;
          height: 90px;
        }
        a {
          font-size: 19px;
        }
      }
    }
  }

  .snow-on {
    padding-top: 60px !important; 
  }
}

@media (min-height: 1200px) {
  .home {
    .image-container {
      .desktopheadimg {
        padding-top: 0;
      }
    }
  }
}

@media (min-width: 1210px) {
  .snowboard-lessons {
    .boxes-lessons {
      .lessons-sits {
        flex-direction: row;
        .lesson {
          width: 350px;
        }
      }
      .lessons-ppr {
        flex-direction: row;
        .lesson {
          width: 350px;
        }
      }
    }
  }
}

@media (min-width: 1240px) {
  .btn-flex {
    display: flex;
    gap: 20px;
  }
}

#company-data-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding-left: 32px;
  padding-right: 32px;
  h6 {
    font-size: 22px;
    font-family: "Kalnia", serif;
    color: #0097d0;
    margin-bottom: 10px;
  }
  p {
    font-size: 19px;
    font-family: "Wix Madefor Display", sans-serif;
    padding: 7px 5px;
    color: inherit;
    color: black !important;
    text-decoration: none;
    cursor: text;
    pointer-events: none;

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      pointer-events: all;
    }
  }
}

.group-header h2 {
  font-size: 22px;
  font-family: "Kalnia", serif;
  color: #0097d0;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-right: 32px;
}

@media (min-width: 1024px) {
  .group-header h2 {
    margin-bottom: 15px;
  }
}

.buttering .boot-camp-welcome .weekend-camp-header {
  order: 3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 22px;
}

.ullistweekend {
  border-bottom: 2px solid rgb(213, 213, 213);
  padding: 10px;
  font-size: 20px;
  padding-bottom: 15px;

  li {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.weekend-bottom-header {
  color: black;
  text-align: center;
  font-size: 22px;
  font-family: "Kalnia", serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 55px;
  padding-bottom: 35px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1100px;
  margin: 0 auto;
}

.snower-blue {
  margin-right: 6px;
  width: 27px;
}

@media(min-width: 1024px) {
  .snower-blue {
    width: 33px;
  }
  .desktopaligncent {
    align-items: center !important;
  }
  .nocontent {
    margin-left: -25px;
  }
}

@media(max-width: 768px) {
  .popup-container {
    position: absolute !important;
    top: 10%;
    overflow: scroll;
  }
}

.opinion-images {
  display: flex;
  gap: 10px;
}

@media (max-width: 450px) {
  .opinion-images {
    flex-direction: column;
  }
  .boot-camp-welcome .container-opinion .opinion-welcome {
    width: 80% !important;
  }
}

.description-polkolonia {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 19px;
  padding-left: 15px;
  padding-right: 32px;
}

@media (max-width: 980px) {
  .newbtnmain {
    min-width: 350px;
  }
}